.carousel-inner img {
  width: 100%;
  max-height: 400px; }

.text-center {
  text-align: center; }

.home-header {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid #f4f4f4;
  border-bottom: 2px solid #f4f4f4; }
  .home-header h4 {
    color: #929292; }

#prev {
  position: absolute;
  top: 170px;
  margin-left: -5px; }

#next {
  position: absolute;
  top: 170px;
  margin-left: 1185px; }

@media screen and (max-width: 320px) {
  .carousel-inner img {
    max-height: 200px; } }

@media (min-width: 375px) and (max-width: 599px) {
  .carousel-inner img {
    max-height: 200px; } }

@media (min-width: 992px) and (max-width: 1024px) {
  #next {
    position: absolute;
    top: 170px;
    margin-left: 96.3%; } }

@media (min-width: 1025px) and (max-width: 1440px) {
  #next {
    position: absolute;
    top: 170px;
    margin-left: 97.3%; } }

@media (min-width: 1441px) and (max-width: 2560px) {
  #next {
    position: absolute;
    top: 170px;
    margin-left: 98.5%; } }
