body {
  background-color: #f4f4f4; }

#page {
  background-color: #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 150px; }

/* search-box */
.nav-search {
  float: right; }

.inner-addon {
  position: relative; }
  .inner-addon .glyphicon {
    position: absolute;
    padding: 5px 10px; }

.right-addon .glyphicon {
  right: 0px; }

/* navbar */
.navbar-logo {
  margin-top: 20px;
  margin-left: 20px;
  float: left; }

.position-right {
  float: right; }

header {
  flex-direction: row; }
