/* variables */
/* mixins */
.display-horizontal, .display-horizontal-mybooks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.display-horizontal-mybooks {
  justify-content: flex-start;
  margin-bottom: 50px; }

.display-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.img-header {
  width: 150px;
  height: 100px; }

.text-top {
  vertical-align: text-top; }

.text-center {
  text-align: center; }

.category {
  margin-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid #f4f4f4;
  border-bottom: 2px solid #f4f4f4; }

.aside-mb {
  margin-top: 190px; }

/* media queries */
@media screen and (max-width: 320px) {
  .img-header {
    width: 90px;
    height: 70px;
    margin-left: -20px; }
  .display-column {
    margin-bottom: 50px; }
    .display-column p {
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 0; } }

@media (min-width: 375px) and (max-width: 599px) {
  .display-horizontal-mybooks {
    justify-content: center; } }

@media (min-width: 425px) and (max-width: 599px) {
  .img-header {
    width: 90px;
    height: 70px;
    margin-left: -20px; }
  .display-column {
    margin-bottom: 50px; }
    .display-column p {
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .img-header {
    width: 90px;
    height: 70px;
    margin-left: -20px; }
  .display-horizontal-mybooks {
    justify-content: center; } }
