/* variables */
/* mixins */
.bg {
  background-image: url("/images/bg2.jpg");
  width: 100%; }

.container-form {
  display: flex;
  justify-content: center;
  padding: 20%; }

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 15%; }
  .register-form h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 10%; }

.input-group-addon {
  background-color: #75a0aa;
  color: white;
  border-radius: 50px; }

.input-group input, #btn-login {
  border-radius: 50px; }
