/* variables */
/* mixins */
.bg {
  background-image: url("../images/bg2.jpg");
  width: 100%; }

.container-form {
  display: flex;
  justify-content: center;
  padding: 20%; }

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-top: 15%;
  margin-bottom: 25%; }
  .register-form h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    border-bottom: 3px solid blue;
    font-weight: bold;
    position: relative;
    margin-bottom: 8px; }
    .register-form h1:after {
      content: '';
      border-bottom: 3px solid blue;
      width: 100%;
      position: absolute;
      bottom: -6px;
      left: 0; }

.input-group-addon {
  background-color: #75a0aa;
  color: white;
  border-radius: 50px; }

.input-group input, #btn-login {
  border-radius: 50px; }
