/* variables */
/* mixins */
.content {
  background: #fff;
  margin: 0 auto;
  padding: 10px; }

.btn-def, .btn-read-more-less, .btn-send-review, .btn-change-status {
  background-color: white;
  border-radius: 5px;
  padding: 8px 12px 8px 12px;
  outline: 0;
  box-shadow: 0; }

.btn-read-more-less, .btn-send-review {
  float: right; }

.breadcrumb {
  background-color: white;
  margin-left: 30px;
  margin-top: 20px; }

.book-post-info {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 60px;
  margin-right: 50px;
  border-top: 2px solid #f4f4f4;
  border-bottom: 2px solid #f4f4f4; }
  .book-post-info p {
    margin: 0;
    padding: 5px; }
  .book-post-info span {
    color: black; }

.btn-change-status:hover {
  background-color: #75a0aa; }

.btn-send-review {
  align-items: flex-end; }

.container-media {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; }

.change-status {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 5px; }

aside {
  margin-top: 60px; }

.container-reviews, .container-new-review {
  margin-top: 60px;
  margin-left: 60px; }
  .container-reviews h2, .container-new-review h2 {
    margin-bottom: 30px; }

.grad {
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fafafa 0%, white 17%, white 82%, #fafafa 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fafafa 0%, white 17%, white 82%, #fafafa 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fafafa 0%, white 17%, white 82%, #fafafa 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f9f9f9',GradientType=0 );
  /* IE6-9 */ }

.talk-bubble {
  border: 2px solid #f4f4f4;
  margin-bottom: 50px;
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto; }

.tri-right.border.btm-right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 75px;
  bottom: -40px;
  border: 20px solid;
  border-color: #f4f4f4 #f4f4f4 transparent transparent; }

.tri-right.btm-right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 80px;
  bottom: -32px;
  border: 30px solid;
  border-color: #f9f9f9 #f9f9f9 transparent transparent; }

.img-review {
  width: 100px;
  height: 100px; }

.img-border {
  padding: 10px;
  border: 2px solid #e1e1e1; }

/* media queries */
@media (min-width: 375px) and (max-width: 599px) {
  .container-book-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; } }
