<h1>Add new book</h1>

<div class="form-group">
    <label for="tb-title"><h4>Title:</h4></label>
    <input type="text" id="tb-title" class="form-control">
    <label for="tb-author"><h4>Author:</h4></label>
    <input type="text" id="tb-author" class="form-control">
    <label for="tb-genres"><h4>Genres:</h4></label>
    <input type="text" id="tb-genres" class="form-control">
    <label for="tb-description"><h4>Description:</h4></label>
    <textarea id="tb-description" class="form-control"></textarea>
    <label for="tb-pages"><h4>Pages:</h4></label>
    <input type="text" id="tb-pages" class="form-control">
    <label for="tb-cover"><h4>Cover:</h4></label>
    <input type="text" id="tb-cover" class="form-control">
    <button class="btn btn-success" id="btn-add-book">Add</button>
</div>