<section class="carusel">
<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselIndicators" data-slide-to="1"></li>
    <li data-target="#carouselIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="img-fluid" src="./images/images1.jpg" alt="First slide">
      <div class="carousel-caption d-none d-lg-block">
        <h3>Carouseeeeeel</h3>
        <p>Hereeeeeee</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="./images/images2.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-lg-block">
        <h3>Carouseeeeeel</h3>
        <p>Hereeeeeee</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="./images/images3.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-lg-block">
        <h3>Carouseeeeeel</h3>
        <p>Hereeeeeee</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-left" href="#carouselIndicators" role="button" data-slide="prev">
    <img id="prev" class="hidden-md-down" src="./images/left-arrow.png" alt="left-arrow">
  </a>
  <a class="carousel-control-right" href="#carouselIndicators" role="button" data-slide="next">
    <img id="next" class="hidden-md-down" src="./images/right-arrow.png" alt="right-arrow">
  </a>
</div>
</section>

<div class="home-header">
    <h2 class="text-center">"Chameleon is un extremely versatile theme with a myiad of options and styles"</h2>
    <h5 class="text-center">Aliquam venenatis enim in mi iaculis in tempor lectus tempor et convallis erat pellentesque</h5>
</div>

<main class="display-horizontal">
  <div class="display-column display-column-home">
    <a href="#/books?page=1&size=10"><h4>Explore our great library...</h4></a>
    <a href="#/books?page=1&size=10"><img src="http://storage.capita-software.co.uk/cmsstorage/capita/media/solutions/libraries/libraries_lms.jpg?ext=.jpg" class="img-fluid img-main"/></a>
    <p>Here you can find all kind of books... shdaisdhslndsklnclksnclKNLKSCLKNCS</p>
  </div>
  <div class="display-column display-column-home">
    <a href="#/books?page=1&size=10"><h4>Make your own increadible collection...</h4></a>
    <a href="#/books?page=1&size=10"><img src="http://storage.capita-software.co.uk/cmsstorage/capita/media/solutions/libraries/libraries_lms.jpg?ext=.jpg" class="img-fluid img-main"/></a>
    <p>Here you can find all kind of books... shdaisdhslndsklnclksnclKNLKSCLKNCS</p>
  </div>
  <div class="display-column display-column-home">
    <a href="#/books?page=1&size=10"><h4>Add your favourite books...</h4></a>
    <a href="#/books?page=1&size=10"><img src="http://storage.capita-software.co.uk/cmsstorage/capita/media/solutions/libraries/libraries_lms.jpg?ext=.jpg" class="img-fluid img-main"/></a>
    <p>Here you can find all kind of books... shdaisdhslndsklnclksnclKNLKSCLKNCS</p>
  </div>
</main>