<div class="col-md-12"> 
    <form class="register-form col-md-6 offset-md-3">
        <h1 class=""><span>Welcome</span></h1>
        {{!--<div class="header-login"><span>--}}
            {{!--<img src="./images/pict-books.png">--}}
            {{!--</span></div>--}}
        <div class="form-group">      
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input id="tb-username" type="text" class="form-control" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input id="tb-password" type="password" class="form-control" placeholder="Password">
            </div>
        </div>
        <button class="btn-def" id="btn-register">Sign up</button>
    </form>
    <img src="/images/bg2.jpg"/ class="bg">
</div>