/* variables */

$primary-color: #f4f4f4;
$page-color: #ffffff;
$footer-color: #f9f9f9;
$body-text-color: #ababab;
$header-color: black;
$social-icons-color: #e3e3e3;
$link-color-hover: #75a0aa;
$social-icons-color-hover: blue;
$background-hoder: #efefef;
$width: 100%;
$home-header-border: #f4f4f4;
$home-header-color: #929292;
$carusel-img-height: 400px;

/* mixins */