/* variables */

$primary-color: #f4f4f4;
$page-color: #ffffff;
$footer-color: #f9f9f9;
$body-text-color: #929292;
$header-color: black;
$social-icons-color: #e3e3e3;
$link-color-hover: #00BCD4;
$social-icons-color-hover: #26C6DA;
$background-hoder: #efefef;
$width: 100%;
$home-header-border: #f4f4f4;
$home-header-color: #929292;
$carusel-img-height: 400px;
$gradient-start: #f9f9f9;
$gradient-middle: #ffffff;
$border-image: #e1e1e1;
$btn-color-change-status: #448AFF;
$btn-color-border-change-status: #0D47A1;

/* mixins */